@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap');
* {
    font-family: Andalé Mono, Helvetica, sans-serif, sans-serif;
    margin:0;
	box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
img {
	width: 60%;
	height: auto;
	box-shadow: 0px 0px 1vw #000;
	border-radius: 0.7vw;
}
video {
	width: 70%;
	height: auto;
	box-shadow: 0px 0px 1vw #000;
	border-radius: 0.7vw;
  }
nav {
	height: auto;
	width: auto;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.6vw 5vw;
	background-color: #000000;
	box-shadow: 0px 0px 1vw #000;
}
.default {
    color: white;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
	padding: 0;
}
li {
	padding: 0.1vw;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.6vw 1vw;
    text-decoration: none;
    font-family: Arial, sans-serif;
	font-size: 1vw;
}
li a:hover:not(.active) {
    background-color: #005c91;
	border-radius: 0.3vw;
	transition-duration: 0.4s;
}
.active {
    background-color: #17c7fc;
	border-radius: 0.3vw;
	color: #005c91;
	
}
h1 {
	padding-top: 60px;
	padding-bottom: 10px;
	font-size: 2.6vw;
	color: #005c91;
}
h2 {
	padding-bottom: 10px;
	font-size: 2.7vw;
	color: #005c91;
}
h3 {
	font-size: 2vw;
	color: #0092e6;
	padding-bottom: 60px;
}
h4 {
	color: #0092e6;
	font-size: 1.2vw;
}

.container {
	padding: 110px;
}
.column {
	float: left;
}
.left {
	width: 55%;
}
.middle {
	width: 25%;
	padding-right: 50px;
}
.right {
	width: 20%;
}


.row:after {
	content: "";
	display: table;
	clear: both;
}

.textbox {
	padding-bottom: 50px;
}

body {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* FOOTER */
.center {
	margin: auto;
}
footer {
	background-color: #000000;
	color: #005c91;
}
.footer__row {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2% 0;
	box-shadow: 0px 0px 1vw #000;
}
.footer__logo-img {
	width: 120px;
	height: 55px;
}
.footer__social--list {
	width: 100%;
	max-width: 500px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 28px;

}
.footer__social--link, 
.footer__copyright {
	color: white;
}
.footer__logo--popper {
	color: white;
	position: absolute;
	right: 0;
	top: 30px;
	font-weight: 700;
	opacity: 0;
	transition: all 300ms ease;
}
.footer__anchor {
	position: relative;
	margin-bottom: 20px;
}
.footer__anchor:hover .footer__logo--popper {
	transform: translateX(60px);
	opacity: 1;
}

.button {
	border: none;
	padding: 0.6vw 1.4vw;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.2vw;
	cursor: pointer;
  }
  
  .button1 {
	color: #005c91;
	background-color: #ffffff; 
	border: 0.2vw solid #005c91;
	border-radius: 0.3vw;
  }
  
  .button1:hover {
	color: white;
	background-color: #17c7fc; 
	color: #005c91;
	border-radius: 0.3vw;
	transition-duration: 0.4s;
  }

@media (max-width: 786px) {
	.column.side, .column.middle {
		width: 100%;
	}
	nav {
		height: 100px;
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 12px;
	}
	h1{
		font-size: 28px;
	}
	h2{
		font-size: 28px;
	}
	h3{
		font-size: 28px;
	}

	.about-me__info--para {
		font-size: 18px;
	}

	.language {
		width: calc(100% / 3);
	}

	.project__description--para {
		font-size: 14px;
	}

	.project__description {
		left: 30px;
		padding-right: 30px;
	}
}