@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    font-family: 'Lato', sans-serif;
    margin:0;
}

html {
    scroll-behavior: smooth;
}

nav {
	height: 100px;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 12px;
}

/* important */
.default {
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
	padding: 0;
}

li {
	padding: 1px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

li a:hover:not(.active) {
    background-color: rgb(10, 120, 163);
}

.active {
    background-color: #1fd3da;
}

h1, h2, h3, h4, h5, h6, span {
	color: #ffffff;
	text-align: left;
	line-height: 1.25;
	padding-left: 100px;
}

.column {
	float: left;
	padding: 10px;
}
  
.column.side {
	width: 10%;
}
  
.column.middle {
	width: 80%;
	background-color: #7e7e7e;
}
  
  /* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

body {
    background-color: #0c0c0c;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* FOOTER */

.center {
	margin: auto;
}

footer {
	background-color: #242424;
}

/* .footer__logo{
} */

.footer__row {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2% 0;
}

.footer__logo-img {
	width: 120px;
	height: 55px;
}

.footer__social--list {
	width: 100%;
	max-width: 500px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 28px;

}

.footer__social--link, 
.footer__copyright {
	color: white;
}

.footer__logo--popper {
	color: white;
	position: absolute;
	right: 0;
	top: 30px;
	font-weight: 700;
	opacity: 0;
	transition: all 300ms ease;
}

.footer__anchor {
	position: relative;
	margin-bottom: 20px;
}

.footer__anchor:hover .footer__logo--popper {
	transform: translateX(60px);
	opacity: 1;
}

@media (max-width: 786px) {
	.column.side, .column.middle {
		width: 100%;
	}
	nav {
		height: 100px;
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 12px;
	}
	h1{
		font-size: 28px;
	}

	.about-me__info--para {
		font-size: 18px;
	}

	.language {
		width: calc(100% / 3);
	}

	.project__description--para {
		font-size: 14px;
	}

	.project__description {
		left: 30px;
		padding-right: 30px;
	}
}