* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: ui-sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
}

html, body {
  background-color: #111316;
  height: 100vh;
  scroll-behavior: smooth;
}

.mainContent {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
/* ---------------- NAVBAR ---------------- */
#nav {
  background-color: none;
  transition: ease-in-out;
}

.navContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  position: fixed;
  z-index: 2;
  height: 11%;
}
.navContainer .navbar {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  width: 70.5%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  /* ---------------- NAVIGATION BUTTONS ---------------- */
}
.navContainer .navbar .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}
.navContainer .navbar .logo img {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  border-radius: 30px;
  border: 3px solid #777777;
  transition: border-color 0.2s ease-in-out;
}
.navContainer .navbar .logo h1 {
  padding-top: 8px;
  display: flex;
  align-items: flex-start;
  height: 100%;
  color: #939393;
  font-size: 30px;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navContainer .navbar .logo:hover h1 {
  color: #ffffff;
}
.navContainer .navbar .logo:hover img {
  border-color: #ffffff;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.navContainer .navbar .navigation {
  width: 100%;
  display: flex;
  justify-content: end;
}
.navContainer .navbar .navigation li {
  list-style-type: none;
}
.navContainer .navbar .navigation li a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 5vw;
  text-decoration: none;
  position: relative;
  letter-spacing: 0.5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-bottom: 5px;
}
.navContainer .navbar .navigation li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navContainer .navbar .navigation li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.newNavBar {
  display: none;
}

/* ---------------- INTRODUCTION ---------------- */
.about {
  margin-top: 18%;
  height: 60%;
}
.about .introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 35rem;
}
.about .introduction .right {
  height: 100%;
}
.about .introduction .right .introLinksContainer {
  height: 100%;
}
.about .introduction .right .introLinksContainer .introLinks {
  height: 100%;
}
.about .introduction .right .introLinksContainer .introLinks .top .introLine {
  width: 0.15rem;
  background-color: #777777;
  margin: 0.2rem 1rem;
  height: 2rem;
}
.about .introduction .right .introLinksContainer .introLinks .top .linkButton {
  margin-top: 1rem;
  transition: all 0.1s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111316;
  margin-bottom: 1.4rem;
  border-radius: 30px;
  border: 3px solid #777777;
  height: 30px;
  width: 30px;
}
.about .introduction .right .introLinksContainer .introLinks .top .linkButton i {
  transition: all 0.1s ease-in;
  background-color: #111316;
  color: #777777;
  border-radius: 30px;
}
.about .introduction .right .introLinksContainer .introLinks .top .linkButton .fa-github {
  margin-top: 1.8px;
  font-size: 20px;
}
.about .introduction .right .introLinksContainer .introLinks .top .linkButton .fa-linkedin-in {
  margin-top: 1.7px;
}
.about .introduction .right .introLinksContainer .introLinks .top .linkButton:hover {
  transform: translate(0, -5px);
  border-color: #ffffff;
}
.about .introduction .right .introLinksContainer .introLinks .top .linkButton:hover i {
  color: #ffffff;
}
.about .introduction .right .introLinksContainer .introLinks .bottom {
  height: 55%;
}
.about .introduction .right .introLinksContainer .introLinks .bottom .introLastLine {
  width: 0.15rem;
  background-color: #777777;
  margin: 0.2rem 1rem;
  height: 100%;
}
.about .introduction .left {
  height: 100%;
}
.about .introduction .left .introTextContainer .introText {
  width: 73%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.about .introduction .left .introTextContainer .introText h1 {
  color: #f33434;
  font-size: x-large;
  font-weight: 400;
}
.about .introduction .left .introTextContainer .introText h1 strong {
  font-size: 33px;
  font-weight: 600;
}
.about .introduction .left .introTextContainer .introText h2 {
  color: #ffffff;
  font-size: 50px;
  margin: 0.5rem 0;
}
.about .introduction .left .introTextContainer .introText p {
  margin: 2rem 0 4rem 0;
  color: #cfcfcf;
  font-size: 23px;
  line-height: 2.5rem;
}
.about .introduction .left .introButtonContainer {
  height: 10rem;
}
.about .introduction .left .introButtonContainer .introButton a {
  width: 180px;
  height: 60px;
  position: absolute;
  z-index: 1;
}
.about .introduction .left .introButtonContainer .introButton a svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 0.7s ease-in-out;
}
.about .introduction .left .introButtonContainer .introButton a .btn {
  width: 150px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #f33434;
  outline: none;
  transition: 0.7s ease-in-out;
}
.about .introduction .left .introButtonContainer .introButton a .btn:hover {
  transition: 1s ease-in-out;
  background: #f33434;
}
.about .introduction .left .introButtonContainer .introButton a .btn:hover svg {
  stroke-dashoffset: -480;
}
.about .introduction .left .introButtonContainer .introButton a .btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
}

.skills {
  margin-top: 10vh;
  height: 100%;
  padding-top: 10rem;
}
.skills h1 {
  color: #ffffff;
  font-size: 35px;
}

.projects {
  margin-top: 10vh;
  height: 100%;
  padding-top: 10rem;
}
.projects h1 {
  color: #ffffff;
  font-size: 35px;
}

.contact {
  margin-top: 10vh;
  height: 100%;
  padding-top: 10rem;
}
.contact h1 {
  color: #ffffff;
  font-size: 35px;
}

.widgets {
  margin-top: 5rem;
  width: 100%;
  height: 35rem;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.widgets .graphicsWidget {
  width: 30rem;
}
.widgets .graphicsWidget a {
  color: #ffffff;
}
.widgets .codingWidget {
  width: 30rem;
}
.widgets .codingWidget a {
  color: #ffffff;
}
.widgets h1 {
  color: #ffffff;
  font-size: xx-large;
}

@media only screen and (max-width: 1000px) {
  /* For tablets: */
  .navContainer {
    display: none;
  }
  .newNavBar {
    padding-top: 30px;
    width: 100%;
    display: flex;
    top: 0;
    height: 5rem;
    justify-content: center;
  }
  .newNavBar .navigation {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .newNavBar .navigation li {
    list-style-type: none;
  }
  .newNavBar .navigation li a {
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
  }
  .introduction {
    margin-top: 5rem;
    height: 50%;
  }
  .introduction .left {
    width: 100%;
  }
  .introduction .left .introTextContainer {
    width: 100%;
  }
  .introduction .left .introTextContainer .introText {
    width: 100%;
    text-align: center;
  }
  .introduction .left .introTextContainer .introText h1 {
    font-size: x-large;
    font-weight: 400;
  }
  .introduction .left .introTextContainer .introText h1 strong {
    font-size: 33px;
    font-weight: 600;
  }
  .introduction .left .introTextContainer .introText h2 {
    font-size: 40px;
    margin: 0.5rem 0;
  }
  .introduction .left .introTextContainer .introText p {
    margin: 2rem 0 4rem 0;
    font-size: 20px;
    line-height: 2rem;
  }
  .introduction .left .introButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .introduction .left .introButtonContainer .introButton a {
    align-self: center;
    position: relative;
  }
  .introduction .left .introButtonContainer .introButton a svg {
    display: none;
  }
  .introduction .left .introButtonContainer .introButton a .btn:hover {
    background: #f33434;
  }
  .introduction .right {
    display: none;
    width: 0;
  }
  .footer {
    margin-top: 10rem;
    width: 100%;
    height: 20rem;
  }
  .footer .footerBorder {
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #cfcfcf;
  }
}
@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .mainContent {
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
  .newNavBar {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 9rem;
    background-color: #0a0c0e;
  }
  .newNavBar .navigation {
    flex-direction: column;
    align-items: center;
  }
  .newNavBar .navigation li a {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
  }
  .introduction {
    margin-top: 3rem;
    height: 30%;
  }
  .introduction .left .introTextContainer .introText h1 {
    font-size: 15px;
    font-weight: 400;
  }
  .introduction .left .introTextContainer .introText h1 strong {
    font-size: 20px;
    font-weight: 600;
  }
  .introduction .left .introTextContainer .introText h2 {
    font-size: 20px;
  }
  .introduction .left .introTextContainer .introText p {
    margin: 1rem 0 4rem 0;
    font-size: 15px;
    line-height: 1.5rem;
  }
  .introduction .left .introButtonContainer {
    display: none;
  }
  .introduction .footer {
    margin-top: 10rem;
    width: 100%;
    height: 20rem;
  }
  .introduction .footer .footerBorder {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */