$primaryBlack: #000000;
$navBar: #0f0f0f;
$white: #ffffff;

* {
  margin: 0;
  padding: 0;
  border:0;
  outline:0;
  font-size:100%;
  overflow: hidden;
  font-family: ui-sans-serif, system-ui, BlinkMacSystemFont, Segoe UI,Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
}

/* NAVIGATION */
.navbar {
  padding: 30px;
  list-style-type: none;
  li {
    display: inline;
    a {
      color: $white;
      font-size: 17px;
      font-weight: 600;
      margin: 0 26px;
      text-decoration: none;
    }
  }
}

#navback {
  background-color: $navBar;
}

body {
  background-color: $primaryBlack;
  height: 100%;
  width: 100%;
}

.contentSize {
  width: 80%;
  height: 100%;
  background-color: #6b4747;
}

@media only screen and (max-width:800px) {
  /* For tablets: */

}
@media only screen and (max-width:500px) {
  /* For mobile phones: */

}
