$primaryBlack: #111316;
$navBar: #0a0c0e;
$white: #ffffff;
$white2: #939393;
$white3: #777777;
$secondaryWhite: #cfcfcf;
$red1: #f33434;

* {
  margin: 0;
  padding: 0;
  border:0;
  outline:0;
  font-size:100%;
  font-family: ui-sans-serif, system-ui, BlinkMacSystemFont, Segoe UI,Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
}

html, body {
  background-color: $primaryBlack;
  height: 100vh;
  scroll-behavior: smooth;
}

.mainContent {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

@mixin title {
  color: $white;
  font-size: 35px;
  margin-bottom: 3rem;
}

@mixin subtitle {
  color: $white;
  font-size: 25px;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

@mixin section {
  margin-top: 10vh;
  height: 100%;
  padding-top: 10rem;
}

@mixin widget {
  width: 30rem;
}
@mixin widgetButton {
  color: $white;
}
@mixin line {
  width: 0.15rem;
  background-color: $white3;
  margin: 0.2rem 1rem;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(180deg);
  }
}

.invert {
  filter: brightness(0) invert(100%);
}

/* ---------------- NAVBAR ---------------- */

#nav {
  background-color: none;
  transition: ease-in-out;
}

.navContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  position: fixed;
  z-index: 2;
  height: 11%;
  .navbar {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    width: 70.5%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    .logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 55px;
      img {
        width: 50px;
        height: 50px;
        margin-right: 30px;
        border-radius: 30px;
        border: 3px solid $white3;
        transition: border-color 0.2s ease-in-out;
      }
      h1 {
        padding-top: 8px;
        display: flex;
        align-items: flex-start;
        height: 100%;
        color: $white2;
        font-size: 30px;
        font-weight: 500;
        transition: color 0.2s ease-in-out;
        user-select: none;
      }
    }
    .logo:hover {
      h1 {
        color: $white;
      }
      img {
        border-color: $white;
        animation-name: spin;
        animation-duration: 0.5s;
      }
    }
    
/* ---------------- NAVIGATION BUTTONS ---------------- */
    .navigation {
      width: 100%;
      display: flex;
      justify-content: end;
      li {
        list-style-type: none;
        a {
          color: $white;
          font-size: 18px;
          font-weight: 500;
          margin-left: 5vw;
          text-decoration: none;
          position: relative;
          letter-spacing: 0.5px;
          user-select: none;
          padding-bottom: 5px;
        }
        a:after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 3px;
          bottom: 0;
          left: 0;
          background-color: $white;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }
        a:hover:after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}

.newNavBar {
  display: none;
}

/* ---------------- INTRODUCTION ---------------- */

.about {
  margin-top: 18%;
  height: 60%;
  .introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35rem;
    .right {
      height: 100%;
      .introLinksContainer {
        height: 100%;
        .introLinks {
          height: 100%;
          .top {
            .introLine {
              @include line;
              height: 2rem;
            }
            .linkButton {
              margin-top: 1rem;
              transition: all 0.1s ease-in;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $primaryBlack;
              margin-bottom: 1.4rem;
              border-radius: 30px;
              border: 3px solid $white3;
              height: 30px;
              width: 30px;
              i {
                transition: all 0.1s ease-in;
                background-color: $primaryBlack;
                color: $white3;
                border-radius: 30px;
              }
              .fa-github {
                margin-top: 1.8px;
                font-size: 20px;
              }
              .fa-linkedin-in {
                margin-top: 1.7px;
              }
            }
            .linkButton:hover {
              transform: translate(0, -5px);
              border-color: $white;
              i {
                color: $white;
              }
            }
          }
          .bottom {
            height: 55%;
            .introLastLine {
              @include line;
              height: 100%;
            }
          }
        }
      }
    }
    .left {
      height: 100%;
      .introTextContainer {
        .introText {
          width: 73%;
          user-select: none;
          h1 {
            color: $red1;
            font-size: x-large;
            font-weight: 400;
            strong {
              font-size: 33px;
              font-weight: 600;
            }
          }
          h2 {
            color: $white;
            font-size: 50px;
            margin: 0.5rem 0;
          }
          p {
            margin: 2rem 0 4rem 0;
            color: $secondaryWhite;
            font-size: 23px;
            line-height: 2.5rem;
          }
        }
      }
      .introButtonContainer {
        height: 10rem;
        .introButton {
          a {
            width: 180px;
            height: 60px;
            position: absolute;
            z-index: 1;
            svg {
              position: absolute;
              left: 0;
              top: 0;
              fill: none;
              stroke: #fff;
              stroke-dasharray: 150 480;
              stroke-dashoffset: 150;
              transition: 0.7s ease-in-out;
            }
            .btn {
              width: 150px;
              height: 60px;
              cursor: pointer;
              background: transparent;
              border: 1px solid $red1;
              outline: none;
              transition: 0.7s ease-in-out;
            }
            .btn:hover {
              transition: 1s ease-in-out;
              background: $red1;
            }
            .btn:hover svg {
              stroke-dashoffset: -480;
            }
            .btn span {
              color: white;
              font-size: 18px;
              font-weight: 100;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.skills-container {
  @include section;
  
  h1 {
    @include title;
  }
  h2 {
    @include subtitle;
  }
  .skills-body {
    i, img {
      height: 4rem;
      color: white;
      font-size: 4rem;
      aspect-ratio: auto;
      margin-left: 1rem
    }
  }
  .code-icons {
    margin-bottom: 2rem;
  }
  .tool-icons {
    margin-bottom: 2rem;
  }
}
.projects-container {
  @include section;
  h1 {
    @include title;
  }
}

.widgets {
  margin-top: 5rem;
  width: 100%;
  height: 35rem;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  .graphicsWidget {
    @include widget;
    a {
      @include widgetButton;
    }
  }
  .codingWidget {
    @include widget;
    a {
      @include widgetButton;
    }
  }
  h1 {
    color: $white;
    font-size: xx-large;
  }
}

@media only screen and (max-width:1000px) {
  /* For tablets: */

  .navContainer {
    display: none;
  }

  .newNavBar {
    padding-top: 30px;
    width: 100%;
    display: flex;
    top: 0;
    height: 5rem;
    justify-content: center;
    .navigation {
      width: 65%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li {
        list-style-type: none;
        a {
          color: $white;
          font-size: 17px;
          font-weight: 500;
          text-decoration: none;
          letter-spacing: 1px;
        }
      }
    }
  }

  .about {
    .introduction {
      margin-top: 5rem;
      height: 50%;
      .left {
        width: 100%;
        .introTextContainer {
          width: 100%;
          .introText {
            width: 100%;
            text-align: center;
            h1 {
              font-size: x-large;
              font-weight: 400;
              strong {
                font-size: 33px;
                font-weight: 600;
              }
            }
            h2 {
              font-size: 40px;
              margin: 0.5rem 0;
            }
            p {
              margin: 2rem 0 4rem 0;
              font-size: 20px;
              line-height: 2rem;
            }
          }
        }
        .introButtonContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          .introButton {
            a {
              align-self: center;
              position: relative;
              svg {
                display: none;
              }
              .btn:hover {
                background: $red1;
              }
            }
          }
        }
      }
      .right {
        display: none;
        width: 0;
      }
    }
  }
  .footer {
    margin-top: 10rem;
    .footerBorder {
      top: 0;
      width: 100%;
      height: 2px;
      background-color: $secondaryWhite;
    }
    width: 100%;
    height: 20rem;
  }
}

@media only screen and (max-width:600px) {
  /* For mobile phones: */
  .mainContent {
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
  
  .newNavBar {
    display: none;
  }

  .about {
    .introduction {
      margin-top: 3rem;
      height: 30%;
      .left {
        .introTextContainer {
          .introText {
            h1 {
              font-size: 15px;
              font-weight: 400;
              strong {
                font-size: 20px;
                font-weight: 600;
              }
            }
            h2 {
              font-size: 20px;
            }
            p {
              margin: 1rem 0 4rem 0;
              font-size: 15px;
              line-height: 1.5rem;
            }
          }
        }
        .introButtonContainer {
          display: none;
        }
      }
      .footer {
        margin-top: 10rem;
        .footerBorder {
          display: none;
        }
        width: 100%;
        height: 20rem;
      }
    }
  }

  
}

