* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  font-family: ui-sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
}

/* NAVIGATION */
.navbar {
  padding: 30px;
  list-style-type: none;
}
.navbar li {
  display: inline;
}
.navbar li a {
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  margin: 0 26px;
  text-decoration: none;
}

#navback {
  background-color: #0f0f0f;
}

html, body {
  background-color: #000000;
  min-height: 100vh;
}

.contentSize {
  width: 80%;
  height: 100%;
  background-color: #2b2424;
  margin: auto;
}

@media only screen and (max-width: 800px) {
  /* For tablets: */
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
}