$primaryBlack: rgb(20, 24, 31);
$navBar: #0f0f0f;
$white: #ffffff;
$white2: rgb(194, 206, 215);
$secondaryWhite: #969899;
$red1: #f33434;

* {
  margin: 0;
  padding: 0;
  border:0;
  outline:0;
  font-size:100%;
  font-family: ui-sans-serif, system-ui, BlinkMacSystemFont, Segoe UI,Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
}

html, body {
  background-color: $primaryBlack;
  height: 100vh;
  scroll-behavior: smooth;
}

.mainContent {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

@mixin widget {
  width: 30rem;
}
@mixin widgetButton {
  color: $white;
}
@mixin line {
  width: 0.12rem;
  background-color: $secondaryWhite;
  margin: 0.2rem 1rem;
}

/* ---------------- NAVBAR ---------------- */

#nav {
  background-color: none;
  transition: ease-in-out;
}

.navContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  position: sticky;
  .navbar {
    width: 70%;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
/* ---------------- NAVIGATION BUTTONS ---------------- */
    .navigation {
      display: flex;
      li {
        list-style-type: none;
        a {
          color: $white;
          font-size: 17px;
          font-weight: 500;
          margin: 0 100px 0 0;
          text-decoration: none;
          display: block;
          position: relative;
          padding: 6px 0;
          letter-spacing: 1px;
        }
        a:after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 3px;
          bottom: 0;
          left: 0;
          background-color: $white;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }
        a:hover:after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
/* ---------------- CONTACT BUTTON ---------------- */
    .contact {
      li {
        list-style-type: none;
        a {
          color: $white;
          font-size: 17px;
          font-weight: 500;
          display: block;
          width: 100%;
          letter-spacing: 1px;
        }
        a:hover {
          margin: 0;
        }
        a:after, a:before {
          content: '';
          border: 1.5px solid rgba($white, 0);
          display: block;
          transition: all 0.2s ease-in-out;
          width: 0;
          margin: 5px auto;
        }
        a:hover:after, a:hover:before {
          background-color: $white;
          transition: width 0.2s ease-in-out;
          width: 95%;
        }
      }
    }
  }
}

/* ---------------- INTRODUCTION ---------------- */

.introduction {
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 35rem;
  .right {
    height: 100%;
    .introLinksContainer {
      height: 100%;
      .introLinks {
        height: 100%;
        .top {
          .introLine {
            @include line;
            height: 2rem;
          }
          .linkButton {
            border-radius: 30px;
            border: 3px $secondaryWhite solid;
            height: 30px;
            width: 30px;
          }
        }
        .bottom {
          height: 55%;
          .introLastLine {
            @include line;
            height: 100%;
          }
        }
      }
    }
  }
  .left {
    height: 100%;
    .introTextContainer {
      .introText {
        h1 {
          color: $red1;
          font-size: x-large;
          font-weight: 400;
          strong {
            font-size: 33px;
            font-weight: 600;
          }
        }
        h2 {
          color: $white;
          font-size: 60px;
          margin: 0.5rem 0;
        }
        p {
          margin: 2rem 0 4rem 0;
          color: $secondaryWhite;
          font-size: 23px;
          line-height: 2.5rem;
        }
      }
    }
    .introButtonContainer {
      height: 10rem;
      .introButton {
        a {
          width: 180px;
          height: 60px;
          position: absolute;
          svg {
            position: absolute;
            left: 0;
            top: 0;
            fill: none;
            stroke: #fff;
            stroke-dasharray: 150 480;
            stroke-dashoffset: 150;
            transition: 0.7s ease-in-out;
          }
          .btn {
            width: 150px;
            height: 60px;
            cursor: pointer;
            background: transparent;
            border: 1px solid $red1;
            outline: none;
            transition: 0.7s ease-in-out;
          }
          .btn:hover {
            transition: 1s ease-in-out;
            background: $red1;
          }
          .btn:hover svg {
            stroke-dashoffset: -480;
          }
          .btn span {
            color: white;
            font-size: 18px;
            font-weight: 100;
            text-align: center;
          }
        }
      }
    }
  }
}

.widgets {
  margin-top: 5rem;
  width: 100%;
  height: 35rem;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  .graphicsWidget {
    @include widget;
    a {
      @include widgetButton;
    }
  }
  .codingWidget {
    @include widget;
    a {
      @include widgetButton;
    }
  }
  h1 {
    color: $white;
    font-size: xx-large;
  }
}

.footer {
  margin-top: 10rem;
  .footerBorder {
    top: 0;
    width: 100%;
    height: 2px;
    background-color: $secondaryWhite;
  }
  width: 100%;
  height: 20rem;
}

@media only screen and (max-width:1000px) {
  /* For tablets: */

  .introduction {
    .left {
      width: 100%;
      .introTextContainer {
        width: 100%;
        .introText {
          text-align: center;
          h1 {
            font-size: x-large;
            font-weight: 400;
            strong {
              font-size: 33px;
              font-weight: 600;
            }
          }
          h2 {
            font-size: 50px;
            margin: 0.5rem 0;
          }
          p {
            margin: 2rem 0 4rem 0;
            font-size: 20px;
            line-height: 2rem;
          }
        }
      }
      .introButtonContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .introButton {
          a {
            position: relative;
            svg {
              display: none;
            }
            .btn:hover {
              background: $red1;
            }
          }
        }
      }
    }
    .right {
      display: none;
    }
  }
  .navbar {
    justify-content: center;
  }
}

@media only screen and (max-width:600px) {
  /* For mobile phones: */
  .mainContent {
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }

  .navbar {
    justify-content: center;
    .navigation {
      li {
        a {
          font-size: 17px;
          margin: 0 6vw 0 0;
        }
        a:after {
          display: none;
        }
        a:hover:after {
          display: none;
        }
      }
    }
    .contact {
      li {
        a:after, a:before {
          display: none;
        }
        a:hover:after, a:hover:before {
          display: none;
        }
      }
    }
  }

  .introduction {
    .left {
      .introTextContainer {
        .introText {
          h1 {
            font-size: 18px;
            font-weight: 400;
            strong {
              font-size: 25px;
              font-weight: 600;
            }
          }
          h2 {
            font-size: 30px;
            margin: 0.5rem 0;
          }
          p {
            margin: 2rem 0 4rem 0;
            font-size: 15px;
            line-height: 2rem;
          }
          .c {
            color: $white2;
          }
        }
      }
      .introButtonContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .introButton {
          a {
            position: relative;
            svg {
              display: none;
            }
            .btn:hover {
              background: $red1;
            }
          }
        }
      }
    }
  }
}

